.App {
  font-family: sans-serif;
  text-align: center;
}

     .media{
        padding-top: 50%;
        width:100%;
        height:100%;
      }
      .content{
        textAlign: "left",
        padding: muiBaseTheme.spacing.unit * 3
      }
      .divider {
        margin: `${muiBaseTheme.spacing.unit * 3}px 0`
      }
      .heading{
        font-weight: "bold"
      }
      .subheading: {
        line-height: 1.8
      }
      .tar{
        display: "inline-block"
        border: 2px solid white,
        &:not(:first-of-type): {
          margin-left: -muiBaseTheme.spacing.unit
        }
      }
    };